# Supabase
EXPO_PUBLIC_SUPABASE_URL=https://vrmjvnempqsnkiydsoxc.supabase.co
EXPO_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZybWp2bmVtcHFzbmtpeWRzb3hjIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1ODkyNjQsImV4cCI6MjA5MzE2NTI2NH0.tGxNamm7mTlrBsfjIbMecW7qeaDFsjszyHMDtt8LrBA

# Backend API
EXPO_PUBLIC_API_URL=http://localhost:8000/api/v1
